@model InventoryMVC.Models.ViewModels.VendorViewModel

<h2>Vendor Details</h2>
<div class="container">
    <div class="col-md-6 ">
        <div class="row">
            <div class="col-xs-4">
                <label>
                    ID
                </label>
            </div>
            <div class="col-xs-8">
                @Html.DisplayTextFor(m => m.Vendor.id)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>
                    Name
                </label>
            </div>
            <div class="col-xs-8">
                @Html.DisplayTextFor(m => m.Vendor.name)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>
                    Address
                </label>
            </div>
            <div class="col-xs-8">
                @Html.DisplayTextFor(m => m.Vendor.address)
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-xs-4">
                <label>
                    Email
                </label>
            </div>
            <div class="col-xs-8">

                @Html.DisplayTextFor(m => m.Vendor.email)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>
                    Contact
                </label>
            </div>
            <div class="col-xs-8">

                @Html.DisplayTextFor(m => m.Vendor.contact)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>
                    Balance
                </label>
            </div>
            <div class="col-xs-8">
                @Html.DisplayTextFor(m => m.Vendor.balance)
            </div>
        </div>
    </div>
</div>
<h3>Orders</h3>
@if (!Model.VendorOrders.Any())
{
    <p>We have no Order</p>
}
else
{
    <table class="table table-bordered table-hover" id="myTable">
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Item ID
                </th>
                <th>
                    Item Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Bill
                </th>
                <th>
                    Order Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vendorOrders in Model.VendorOrders)
            {
                <tr>
                    <td class="col-md-1">
                        @vendorOrders.id
                    </td>
                    <td class="col-md-1">
                        @vendorOrders.ItemsId
                    </td>
                    <td class="col-md-3">
                        @vendorOrders.Items.name
                    </td>

                    <td class="col-md-2">
                        @vendorOrders.quantity
                    </td>
                    <td class="col-md-2">
                        @vendorOrders.bill
                    </td>
                    <td class="col-md-3">
                        @vendorOrders.date
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
<h3>Payments</h3>
@if (!Model.VendorPayments.Any())
{
    <p>We have no Payment</p>
}
else
{
    <table class="table table-bordered table-hover" id="myTable1">
        <thead>
            <tr>
                <th>
                    Payment ID
                </th>
                <th>
                    Amount Paid
                </th>
                <th>
                    Date Paid
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vendorPayments in Model.VendorPayments)
            {
                <tr>
                    <td class="col-md-2">
                        @vendorPayments.id
                    </td>
                    <td class="col-md-4">
                        @vendorPayments.amountPaid
                    </td>
                    <td class="col-md-6">
                        @vendorPayments.datePaid
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
