@model InventoryMVC.Models.ViewModels.VendorOrderViewModel

<h2>Vendor Order</h2>
<div class="form-group">
    @using (Html.BeginForm("Save", "VendorOrders"))
    {
        <div class="form-group">
            <label>Vendor:</label>
            @Html.DropDownListFor(m => m.VendorOrders.VendorsId, new SelectList(Model.Vendor, "id", "name"), "Select Vendor", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.VendorOrders.VendorsId)
        </div>
        <div class="form-group">
            <label>Item:</label>
            @Html.DropDownListFor(m => m.VendorOrders.ItemsId, new SelectList(Model.Item, "id", "name"), "Select Item", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.VendorOrders.ItemsId)
        </div>
        <div class="form-group">
            <label>Quantity:</label>
            @Html.TextBoxFor(m => m.VendorOrders.quantity, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.VendorOrders.quantity)
        </div>
        <div class="form-group">
            <label>Bill:</label>
            @Html.TextBoxFor(m => m.VendorOrders.bill, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.VendorOrders.bill)
        </div>
        <div class="form-group">
            <label>Order Date:</label>
            @Html.TextBoxFor(m => m.VendorOrders.date, "{0: d MMM yyyy HH:MM:ss}", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.VendorOrders.date)
        </div>
        @Html.HiddenFor(m => m.VendorOrders.id)
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-primary">   Save   </button>
    }

</div>

@section scripts
    {
    @Scripts.Render("~/bundles/jqueryval")
}