@model InventoryMVC.Models.ViewModels.ItemViewModel

<h2>Item Details</h2>
<div class="container">
    <div class="col-md-6 ">
        <div class="row">
            <div class="col-xs-4">
                <label>
                    ID
                </label>
            </div>
            <div class="col-xs-8">
                @Html.DisplayTextFor(m => m.Item.id)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>
                    Name
                </label>
            </div>
            <div class="col-xs-8">
                @Html.DisplayTextFor(m => m.Item.name)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>
                    Description
                </label>
            </div>
            <div class="col-xs-8">
                @Html.DisplayTextFor(m => m.Item.description)
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div class="row">
            <div class="col-xs-4">
                <label>
                    Quantity Remaining
                </label>
            </div>
            <div class="col-xs-8">

                @Html.DisplayTextFor(m => m.Item.quantity)
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>
                    Selling Price
                </label>

            </div>
            <div class="col-xs-8">
                @Html.DisplayTextFor(m => m.Item.sellingPrice)
            </div>

        </div>
    </div>
</div>
<h3>Orders</h3>
@if (!Model.ClientOrders.Any())
{
    <p>We have no Client Order</p>
}
else
{
    <table class="table table-bordered table-hover" id="myTable">
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Client ID
                </th>
                <th>
                    Client Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Bill
                </th>
                <th>
                    Order Date
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clientOrders in Model.ClientOrders)
            {
                <tr>
                    <td class="col-md-1">
                        @clientOrders.id
                    </td>
                    <td class="col-md-1">
                        @clientOrders.ClientsId
                    </td>
                    <td class="col-md-3">
                        @clientOrders.Clients.name
                    </td>

                    <td class="col-md-1">
                        @clientOrders.quantity
                    </td>
                    <td class="col-md-2">
                        @clientOrders.bill
                    </td>
                    <td class="col-md-2">
                        @clientOrders.date
                    </td>
                    @if (clientOrders.status.Equals("1"))
                    {
                        <td class="col-md-2">
                            Pending
                        </td>
                    }
                    else if (clientOrders.status.Equals("2"))
                    {
                        <td class="col-md-2">
                            Delivered
                        </td> }
                    else
                    {
                        <td class="col-md-2">
                            Cancelled
                        </td>
                    }

                </tr>
            }
        </tbody>
    </table>

}
<h3>Vendor Orders</h3>
@if (!Model.VendorOrders.Any())
{
    <p>We have no Vendor Order</p>
}
else
{
    <table class="table table-bordered table-hover" id="myTable">
        <thead>
            <tr>
                <th>
                    Order ID
                </th>
                <th>
                    Vendor ID
                </th>
                <th>
                    Vendor Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Bill
                </th>
                <th>
                    Order Date
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vendorOrders in Model.VendorOrders)
            {
                <tr>
                    <td class="col-md-1">
                        @vendorOrders.id
                    </td>
                    <td class="col-md-1">
                        @vendorOrders.VendorsId
                    </td>
                    <td class="col-md-3">
                        @vendorOrders.Vendors.name
                    </td>

                    <td class="col-md-2">
                        @vendorOrders.quantity
                    </td>
                    <td class="col-md-2">
                        @vendorOrders.bill
                    </td>
                    <td class="col-md-3">
                        @vendorOrders.date
                    </td>
                </tr>
            }
        </tbody>
    </table>
}